# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1643]:
# Your code here
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1644]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [1645]:
#new column names
df.columns = ['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']

print()
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [1651]:
# Your code here
df.nunique()

customer                     1071
state                           8
gender                          5
education                       6
customer_lifetime_value      1027
income                        774
monthly_premium_auto          132
number_of_open_complaints       6
policy_type                     3
vehicle_class                   6
total_claim_amount            761
dtype: int64

In [1653]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [1655]:
#gender
df["gender"]= df["gender"].replace({ 'Femal': 'F', 'Male': 'M', 'female': 'F'})

In [1657]:
#state
df["state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [1659]:
df["state"]= df["state"].replace({'Cali': 'California', 'AZ':'Arizona', 'WA': 'Washington'})

In [1661]:
#Education
df["education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [1663]:
df["education"]=df["education"].replace({'Bachelors':'Bachelor'})

In [1665]:
#Customer Lifetime Value
df["customer_lifetime_value"].unique

<bound method Series.unique of 0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: customer_lifetime_value, Length: 4008, dtype: object>

In [1667]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip('%')

In [1669]:
df["customer_lifetime_value"].unique

<bound method Series.unique of 0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object>

In [1671]:
#vehicel class
df["vehicle_class"].nunique

<bound method IndexOpsMixin.nunique of 0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
4003              NaN
4004              NaN
4005              NaN
4006              NaN
4007              NaN
Name: vehicle_class, Length: 4008, dtype: object>

In [1673]:
df["vehicle_class"]=df["vehicle_class"].replace({'Sports Car':'Luxury', 'Luxury SUV':'Luxury' , 'Luxury Car': 'Luxury'})

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [1679]:
# Your code here
df["customer_lifetime_value"].nunique

<bound method IndexOpsMixin.nunique of 0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object>

In [1681]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [1683]:
df["customer_lifetime_value"]=pd.to_numeric(df["customer_lifetime_value"])

In [1685]:
#open compliants, inccorect format
df["number_of_open_complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [1687]:
df["number_of_open_complaints"]=df["number_of_open_complaints"].str.split('/').str[1]

In [1689]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [1691]:
df["number_of_open_complaints"]= pd.to_numeric(df["number_of_open_complaints"])

In [1693]:
df["number_of_open_complaints"].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [1695]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [1699]:
# null nan
df.isnull()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,True,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [1738]:
df.isna().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [1740]:
#fill the null(fillna() or dropna())
df_cleaned= df.dropna()

In [1742]:
#verify 
df_cleaned.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [1744]:
#numeric to intege
df_cleaned.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [1746]:
#float to int
numeric=df_cleaned.select_dtypes(include=["float64"]).columns
df_numeric=df_cleaned[numeric].astype(int)
df_numeric.dtypes

customer_lifetime_value      int64
income                       int64
monthly_premium_auto         int64
number_of_open_complaints    int64
total_claim_amount           int64
dtype: object

In [1752]:
#Clean object to numeric 
object= df_cleaned.select_dtypes(include=["object"]).columns
for col in object:
    df_cleaned[col]=pd.to_numeric(df_cleaned[col], errors='coerce')

In [1756]:
df_cleaned.fillna(0, inplace=True)

/var/folders/87/8lkk6ykj1_74chh73s5bkg8r0000gn/T/ipykernel_44739/702138923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.fillna(0, inplace=True)

In [1758]:
df_cleaned = df_cleaned.astype(int)

In [1760]:
df_cleaned.dtypes

customer                     int64
state                        int64
gender                       int64
education                    int64
customer_lifetime_value      int64
income                       int64
monthly_premium_auto         int64
number_of_open_complaints    int64
policy_type                  int64
vehicle_class                int64
total_claim_amount           int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [1762]:
# identify 
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Length: 4008, dtype: bool

In [1764]:
df.duplicated().sum()

2936

In [1766]:
#strategy for duplicates
df_clean_duplicate=df.drop_duplicates(keep="first")
df_clean_duplicate

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1768]:
#implement drop_duplicates(), reset index 
new_duplicates= df_clean_duplicate.duplicated()
df_clean_duplicate.reset_index(drop=True, inplace=True)

In [1770]:
#verify
new_duplicates.sum()

0

In [1772]:
#clean dataset to new , index=false to look clean
df_clean.to_csv("clean_data.csv", index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [1777]:
# Your code here

#Clean Columns
def rename_columns(df):
    """Rename DataFrame columns to specified names."""
    df.columns = [
        'customer', 'state', 'gender', 'education', 'customer_lifetime_value',
        'income', 'monthly_premium_auto', 'number_of_open_complaints',
        'policy_type', 'vehicle_class', 'total_claim_amount'
    ]
    return df


#clean_values()
def replace_gender(df):
    """Replace gender values with standardized values."""
    df["gender"] = df["gender"].replace({'Femal': 'F', 'Male': 'M', 'female': 'F'})
    return df
def replace_state(df):
    """Replace state abbreviations with full names."""
    df["state"] = df["state"].replace({'Cali': 'California', 'AZ': 'Arizona', 'WA': 'Washington'})
    return df

def replace_education(df):
    """Standardize education values."""
    df["education"] = df["education"].replace({'Bachelors': 'Bachelor'})
    return df

def strip_percentage(df):
    """Strip the percentage sign from the customer lifetime value column."""
    df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip('%').astype(float)
    df["customer_lifetime_value"]=pd.to_numeric(df["customer_lifetime_value"])
    return df
    
def replace_vehicle_class(df):
    """Standardize vehicle class values."""
    df["vehicle_class"] = df["vehicle_class"].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
    return df

#clean_data_type
def process_open_complaints(df):
    """Extract and convert the second part of the number_of_open_complaints."""
    df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split('/').str[1]
    df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors='coerce')
    return df

# clean_missing_values
def clean_dataframe(df):
    # Drop rows with any NaN values
    df_cleaned = df.dropna()

    # Select numeric columns and convert them to int
    numeric_cols = df_cleaned.select_dtypes(include=["float64"]).columns
    df_cleaned[numeric_cols] = df_cleaned[numeric_cols].astype(int)

    # Select object columns and convert them to numeric, coercing errors to NaN
    object_cols = df_cleaned.select_dtypes(include=["object"]).columns
    for col in object_cols:
        df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')

    # Fill NaN values with 0
    df_cleaned.fillna(0, inplace=True)

    # Convert all columns to int
    df_cleaned = df_cleaned.astype(int)

    return df_cleaned
    
def clean_duplicates(df):
    df_clean_duplicate=df.drop_duplicates(keep="first")
    new_duplicates= df_clean_duplicate.duplicated()
    df_clean_duplicate.reset_index(drop=True, inplace=True)
    return df_clean_duplicate, new_duplicates

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [1799]:
# Your code here
#total claim amount customer life time value
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1801]:
high_claim_threshold = df['total_claim_amount'].quantile(0.75)
low_value_threshold = df['customer_lifetime_value'].quantile(0.25)

In [1803]:
filtered_df = df[(df['total_claim_amount'] > high_claim_threshold) &
                 (df['customer_lifetime_value'] < low_value_threshold)]
result_df = filtered_df[['total_claim_amount', 'customer_lifetime_value']]
display(result_df)

      total_claim_amount  customer_lifetime_value
17            647.442031                394524.16
23            554.376763                245019.10
26            799.200000                394637.21
38            648.000000                309003.41
42            882.871945                393900.64
62            863.327324                333976.49
135           975.107098                402296.35
140           721.242206                247012.12
158           701.708239                387364.70
160           679.368378                228759.69
170           542.319401                241313.97
184           792.000000                373583.81
204           669.682001                368811.09
250           773.470977                400151.91
269           741.600000                359531.29
279           641.388616                365253.24
304           676.944023                288774.23
388           701.708239                387364.70
415           806.400000                372672.80
448           845.654042                254945.00
450           668.293970                380392.18
467           662.400000                316765.84
486           614.675906                357076.05
500           842.437850                376446.51
502          1171.931170                362345.42
565           564.466556                368309.99
590           537.600000                383960.61
593           799.200000                401654.20
638           623.223617                252395.96
645           862.762957                309953.80
669           541.695658                268886.40
709           643.826716                402381.44
788           632.715382                231973.59
853           727.200000                354090.43
891          1185.988301                388650.48
908           558.099357                391936.67
949           691.200000                289873.27
1019          707.303416                386477.68
1022          618.630955                366737.50
1068          633.600000                323912.47

In [1805]:
result_df.describe()

       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.776577            341577.910000
std            149.280606             56921.472027
min            537.600000            228759.690000
25%            633.378846            304220.875000
50%            685.284189            365995.370000
75%            799.200000            387364.700000
max           1185.988301            402381.440000